
<div class="container">
    <ul class="containerlist">
        <% for(var i=0;i<data.data.length;i++){ %>
        <li>
            <div>
                <!-- 获取response data, 添加分页 -->
                <img data-tokenid="<%= data.data[i].token_id %>" src="/content/<%=data.data[i].title%>"
                    data-pixhash="<%= data.data[i].content_hash %>">
                <div>
                    <span><%= data.data[i].title %></span>
                    <b>份额</b><span><%= data.data[i].percent %></span>
                    <input type="text" placeholder="<%= data.data[i].price %>"><a href="javascript:;"
                        class='bid_btn' data-tokenid="<%= data.data[i].token_id %>">竞拍</a>
                </div>
            </div>
        </li>
        <% } %>
    
    </ul>
</div>

<link rel="stylesheet" href="/public/css/balancelist.css">
<script src="/public/assets/jquery/jquery.js"></script>
<script src="/public/assets/bootstrap/dist/js/bootstrap.js"></script>
<script src="/public/assets/template-native/template-native.js"></script>
<script>
    $(function () {
        var pdj = {
            // 网页加载时, 开始初始化
            init: function () {
                // this.checkUser();
            },
            checkUser: function () {
                var _this = this;
                $.ajax({
                    url: "/session",
                    type: "get",
                    success: function (data) {
                        if (data.errno != 0) {
                            window.location.href = "../";
                        } else {
                            _this.queryBalance();
                        }
                    }
                });
            },
            queryBalance: function () {
                $.ajax({
                    url: "/auctions",
                    type: "get",
                    success: function (data) {
                        console.log(data)
                        var html = template("templateId", data);
                        $(".containerlist").html(html);
                        }
                    })
                }
            };
            pdj.init();
        $(".containerlist").on("click", ".bid_btn", function () {
            var tokenID = this.dataset['tokenid'];
            var price = $(this).prev().val();
            $.ajax({
                url: "/auction/bid",
                type: "get",
                data: {
                    tokenid: tokenID,
                    price: price
                },
                success: function (data) {
                    if (data.errno == 0) {
                        alert("竞拍成功");
                    } else {
                        alert(data.errmsg)
                    }
                }
            })
        });
    });
</script>
