<div class="container">
    <ul class="containerlist">
    {{  range $i, $data := .Datalist }}
        <li>
            <div>
                <!-- 获取response data, 添加分页 -->
                <img data-tokenid="{{ .TokenID }}" src="{{ .Content }}"
                    data-pixhash="{{ .ContentHash }}">
            </div>
        </li>
    {{ end }}
    </ul>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination" id="page">
        <li>
            <a href="/voteplace?id=1">first</a>
        </li>
        {{ if eq .firstPage true }}
        <li>
            <span aria-hidden="true">&laquo;</span>
        </li>
        {{ else }}
        <li>
            <a href="/voteplace?id={{.current | PrePage}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        {{ end }}

        {{ if eq .lastPage true }}
        <li>
            <span aria-hidden="true">&raquo;</span>
        </li>
        {{ else }}
        <li>
            <a href="/voteplace?id={{.current | NextPage}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {{ end }}
        <li><a href="/voteplace?id={{.pageCount}}">last</a></li>
        <li class="sum">共{{.count}}条记录/共{{.pageCount}}页/当前{{.current}}页</li>
    </ul>
</nav>
<link rel="stylesheet" href="/public/css/vote.css">
<script>
    $(function () {
        $(".containerlist").on("click", "img", function () {
            var tokenID = this.dataset['tokenid'];
            var pixhash = this.dataset["pixhash"]
            //当前投票的数量。 var  voteCount=$(this).next().find("span").text();
            var obj = {
                token_id: tokenID,
                voteCount: 1,
                contentHash: pixhash,
            };
            // var strparams = JSON.stringify(obj);
            // console.log(strparams)
            $.ajax({
                type: "get",
                url: "/vote",
                contentType: "application/json",
                data: obj,
                success: function (data) {
                    if (data.errno == 0) {
                        alert("投票成功");
                    } else {
                        alert(data.errmsg)
                    }
                }
            })
        });
    });
</script>