<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>个人中心页面</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/dist/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/public/css/userindex.css"> -->
    <script src="/public/assets/jquery/jquery.js"></script>
    <script src="/public/assets/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <div class="layout">
        <div class="header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">copyright</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/index" class="dropdown-toggle" data-toggle="dropdown" role="button">认证原创</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/article">认证文章</a>
                                    </li>
                                    <li>
                                        <a href="/image">认证图片</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/contents">我的资产</a>
                            </li>
                            <li >
                                <a href="/auctions">拍卖中心</a>
                            </li>
                            <li >
                                <a href="/voteplace?id=1">投票区</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">Me</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        {{ yield }}
    </div>
</body>

</html>
